

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing: border-box;
}

.top_container{
	display: flex;
	justify-content: space-between;

}

.top_container img{
	width:100%;
	max-width: 150px;

}

.hero{
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero img{
	width: 100%;
	max-width: 900px;
}
.main_container{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items: center;


}

.main1, .main2, .main3{
	width: 30%;
	padding:calc(100%-90%);
}





h1,h4{
	text-align: right;
}

h1{
	font-size: 50px;
	font-family: arial;
}
h4{
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 0;

}
hr{
	margin-top: 0;
}




@media screen and (min-width: 300px) and (max-width: 760px) {
	h1{
		font-size:23px;
		padding: 3px;
	}
	h4{
		font-size: 16.5px;
		padding: 3px;
	}

	.right_head{
		padding-top: 60px;
	}
	
	.main1, .main2, .main3{
	width: 96%;
	}

}


@media screen and (min-width: 761px) and (max-width: 899px) {

	.main1, .main2, .main3{
	width: 45%;
}


}

@media screen and (min-width: 900px){
	.container{
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	
}