@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300');

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*top container*/

.top-container {
	display: flex;
	justify-content: space-between;

}

/*right heading container*/

.right-head {
	padding-top: 10px;
	padding-right: 10px;
}

/*hero image*/

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero img {
	width: 100%;
	max-width: 900px;
	margin-top: 30px;
	height: auto;
}

/*information container*/

.main-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.main1, .main2, .main3 {
	width: 30%;
}

img {
	max-width: 100%;
	height: auto;
}

/*logo*/

header {
	font-size: 100px;
	font-family: 'Lobster', cursive;
	color: #000;
	text-align: center;
	padding: 10px 20px 0px  20px;
	text-shadow: 9px 3px 12px rgb(69, 66, 66);
}

/*top headings*/

h1,h4 {
	text-align: right;
	text-transform: uppercase;
}

h1 {
	font-size: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
    text-shadow: 2px 3px 7px rgb(14, 13, 13);
	margin-bottom: 0;
	margin-top: 20px;
}

h4 {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: #000;
	margin-top: 0;
}

/*information headings*/

h2 {
	padding: 20px;
    text-shadow: -2px 3px 4px black;
}

h3 {
	padding-top: 20px;
}

h2,h3,p {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

hr {
	margin-top: 0;
	border-bottom: 3px solid #c6c2c2;
}

/*links to projects*/

a {
	text-decoration: none;
	color: #000;
}

a:hover {
    text-shadow: 0px 4px 4px black;
}

.zoom img:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

/*footer social icons*/

footer {
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icons {
	padding: 30px;
	font-size: 20px;
	color: #908b8b
}

/*Media queries for small screens*/

@media screen and (max-width: 899px) {
	h1 {
		font-size: 30px;
		margin-bottom: 0;
		padding-top: 20px;
	}

	h4 { 
		font-size: 20px;
		margin-bottom: 10px;
	}

	header {
		padding-right: 10px;
		padding-top: 5px;
	}
	
	h3 {
		padding-top: 20px;
		margin-bottom: 0;
	}

	p {
		padding-bottom: 30px;
	}

	.right-head {
		padding-top: 10px;
	}

	.main1, .main2, .main3, .main4 {
	width: 100%;
	}

	.main1 img,.main2 img,.main3 img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

}

/*Media queries for large screen*/

@media screen and (min-width: 900px){
	.container {
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	
}